.main-card {
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 5px;
    padding: 15px;
    transition-duration: 0.3s;
}

.table-container {
    max-height: 100%;
    overflow-y: auto;

}

.report-data {
    tr {
        height: 35px !important;
    }

    th,
    td {
        font-size: 12px;
    }
}

.mat-mdc-card-content {
    height: calc(100% - 120px);
}
.mat-mdc-card-content.with-subtitle {
    height: calc(100% - 140px);
}

.mat-mdc-card-header {
    padding-top: 0px;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.title {
    position: absolute;
    top: 15px;
    left: 15px;
    font-weight: 500;
    font-size: 24px;
}

.mat-mdc-header-cell {
    font-weight: 600;
    letter-spacing: 0.3px;
    font-size: 15px;
}

.mat-mdc-cell {
    font-weight: 500;
    font-size: 14px;
}

.icon-holder {
    background-color: rgba($color: #8f8f8f, $alpha: 0.2);
    width: 40px;
    height: 40px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 100%;
        height: 100%;
        border-radius: 5px;
        object-fit: cover;
    }
}

.no-bottom .mat-mdc-form-field-bottom-align {
    display: none !important;
}

.mat-mdc-form-field .mat-mdc-progress-spinner {
    padding: 12px !important;
}

.buffer-container {
    height: 3px;
}

.filter-menu-controls {
    padding: 15px;
}

.action-menu-btn {
    .mat-icon {
        stroke: #1b1b1b;
    }
}

.filter-menu-controls {
    .mat-icon {
        stroke: #1b1b1b;
    }
}

.row {
    display: flex;
    flex-direction: row;
}

.col {
    flex: 1;
    margin-right: 20px;
    padding: 0px 2px;
}

.col:last-child {
    margin-right: 0;
}

.full-width {
    width: 100%;
}
.mat-h3.with-subtitle {
    margin-bottom: 0px;
}
.mat-h4 {
    margin-top: 0px;
    font-weight: 500;
    height: 20px !important;
}
.slider-container {
    width: 100%;
    padding: 0px 15px;

    .mat-h4 {
        margin-bottom: 0px;
        letter-spacing: 0.7px;
        font-weight: 500;
    }

    .mat-mdc-slider {
        width: calc(100% - 15px);
    }
}

.footer-row {
    border-top: 1px solid #000;
}

.footer-col {
    font-weight: 600;
    letter-spacing: 0.7px;
    border-top: 1px solid #000;
}

.download-btn {
    position: absolute;
    bottom: 30px;
    left: 30px;
}
th, td {
    white-space: nowrap;
}
.col.btn {
    text-align: center;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;

    .mat-mdc-progress-spinner {
        margin-right: 5px
    }

    button {
        flex: 1;
        margin: 0px 20px;
    }
}

::ng-deep .handset {
    .mat-mdc-paginator-container {
        min-height: 0px;
    }
    .mat-mdc-paginator-page-size-label {
        display: none !important;
    }
    .mat-mdc-paginator-page-size-value {
        display: none;
    }
}
.menuBtnsCol {
    padding: 0px;
    border-left: 1px solid black;
    .mat-mdc-icon-button .mat-mdc-button-touch-target {
        width: 24px !important;
        height: 24px !important;
    }
}
.full-spacer {
    flex: 1 1 auto;
}
::ng-deep .no-bottom .mat-mdc-form-field-bottom-align::before {
    display: none !important;
}

::ng-deep .no-bottom .mat-mdc-text-field-wrapper {
    background-color: #f8f8f8;
}

::ng-deep .no-bottom .mdc-notched-outline__leading {
    border-width: 0px !important;
}

::ng-deep .no-bottom .mdc-notched-outline__notch {
    border-width: 0px !important;
}

::ng-deep .no-bottom .mdc-notched-outline__trailing {
    border-width: 0px !important;
}

::ng-deep .no-bottom .mat-mdc-form-field-bottom-align {
    display: none !important;
}

::ng-deep .filter-menu.mat-mdc-menu-panel.mat-mdc-menu-panel {
    max-width: 100vw;
}

::ng-deep .data-table-paginator .mat-mdc-paginator-container {
    min-height: 40px !important;
}